.right-section {
  margin-bottom: 20px;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;

  min-width: 240px;
  gap: 16px;
  
  background-image: var(--plaid-image);
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

