.gifs-section {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;

  box-sizing: border-box;

  position: relative;

  background: var(--color-primary);
  padding: 18px;

  box-shadow: 6px 6px 0 var(--color-primary-dark);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif-item {
  display: flex;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 2px solid var(--color-primary-dark);
}