.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--color-tertiary-light);
  background-color: var(--color-tertiary-light);
  box-shadow: 4px 4px 0 var(--color-primary-dark);
}

.content-wrapper {
  display: flex;
  flex: 1;
  gap: 12px; /* menos moderno */

  padding: 25px 15px; /* menos respiro minimalista */

  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    padding: 20px 10px;
  }
}