:root {
  --color-primary: #e7bbbc;
  --color-secondary: #9d7e67;
  --color-tertiary: #e6e7d1;
}

/* Facilita troca de tema futura 
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #9d7e67;
    --color-secondary: #e7bbbc;
    --color-tertiary: #3b3a32;
  }
}
*/