.site-header {
  padding-top: 20px;
  padding-right: 20px;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-logo {
  display: block;
  width: 350px;
  max-width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .site-logo {
    width: 350px;
  }
}
