.site-header {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lace-container {
  width: 100%;
  height: 245px;

  pointer-events: none;

  background-repeat: repeat-x;
  background-size: calc(100% + 1px) auto;

}

.logo-image {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 200px;
  right: 300px;
  z-index: 2;
}