.site-header {
  padding-right: 20px;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lace-container {
  display: flex;
  justify-content: flex-end;
  height: min-content;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.logo-image {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 200px;
  right: 300px;
  z-index: 2;
}