.site-header {
  padding-right: 20px;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-image {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding-right: 440px;
  padding-top: 20px;
}