.right-section {
  flex: 1;
  background: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark));
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.right-section h2 {
  color: var(--color-tertiary-light);
  margin-top: 0;
}
