.guestbook-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;

  box-sizing: border-box;

  position: relative;

  background: var(--color-primary);
  padding: 18px;

  box-shadow: 6px 6px 0 var(--color-primary-dark);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.title {
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.input-section {
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  background-color: var(--color-primary-light);
  color: var(--color-secondary-dark);
  border: 2px solid var(--color-primary-dark);
}

.button-section {
  padding: 8px 10px;
  font-size: 13px;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-secondary-dark);
  border: 2px solid var(--color-primary-dark);
  transition: all 0.2s ease;
}

.button-section:hover {
  background-color: var(--color-primary-light);
}