.buttons-container {
  flex: 1;
  padding: 20px;
  height: fit-content;
  background: var(--color-primary);
  border: 4px solid var(--color-primary-dark);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
